.project-page-body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.project-page-text {
  color: #f8f7ff;
  font-family: 'Inter', sans-serif;
  left: 10%;
  position: absolute;
}

.project-page-heading {
  font-size: 40px;
  font-weight: 600;
  top: 0%;
  left: 10%;
  margin: 0;
}

.project-cards-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
  position: absolute;
  width: 95vw;
  top: 3%;
  flex-wrap:wrap;
}
