.project-page-body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  align-items: center;
}

.project-page-text {
  color: #f8f7ff;
  font-family: 'Inter', sans-serif;
  width: 100%;
}

.project-page-heading {
  font-size: 40px;
  font-weight: 600;
  padding-left: 8%;
  margin-top: 10%;
}

.project-cards-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
  width: 95vw;
  top: 3%;
  flex-wrap: wrap;
}

@media (max-width: 830px) {
  .project-page-body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    align-items: center;
  }

  .project-cards-container {
    margin-top: 5%;
    /* overflow-y: scroll; */
    height: fit-content;
  }

  .project-page-heading {
    font-size: 35px;
    font-weight: 600;
    padding-left: 8%;
    margin-top: 40%;
    margin-right: 6%;
  }
}
