.about-page-body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.about-page-heading {
  font-size: 5vw;
  font-weight: 600;
}

.about-page-text {
  color: #f8f7ff;
  font-family: 'Inter', sans-serif;
  height: fit-content;
  text-align: center;
  width: 50%;
}

.experience-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

@media (max-width: 650px) {
  .about-page-body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .about-page-heading {
    font-size: 10vw;
    font-weight: 600;
    margin-bottom: 1%;
    margin-top: 15%;
  }

  .about-page-text {
    color: #f8f7ff;
    font-family: 'Inter', sans-serif;
    height: fit-content;
    text-align: center;
    width: 100%;
  }

  .experience-container {
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
